
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    cursor: pointer;
    margin: auto 1rem;
}

.search-input{
    height: 2.5rem;
    width: 45vw;
    border-radius: 2rem;
    background-color: #e6f1ef;
    border: none;
    outline: none;
    padding-left: 2rem;
}

.category-slider{
    display: flex;
    margin: auto;
}
.category-slider ul{
    list-style: none;
    display: flex;
    overflow: hidden;
}
.category-slider li{
    margin: 0.2rem 1rem;
}
.home-image-library, .category-library{
    margin: 1rem;
}
.category-links{
    text-decoration: none;
    color: gray;
}
.category-links:hover{
    text-decoration: none;
    color: grey;
}
.user-thumb{
    border-radius: 50%;
}
.popup-image{
    display: flex;
    justify-content: center;
    margin: 0 7%;
}
.likes{
    display: flex;
}
.likes p{
    margin: 2px 0.5rem 5px;
    vertical-align: middle;
}
.likes-icon{
    margin: auto 2px;
}